<!DOCTYPE html>
<html>
<head>
  <title>Rails Tutorial Twitter Clone | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <!-- this should probably be on the bottom or with requireJS -->
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
